* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: utm-avo, sans-serif;
}

.container{

  .Layout{
    position: relative;
  }
}

/* Product Detail Section */
.container-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 50px;

  /*addtocart*/
  .addtocart {
    margin-left: 600px;

    button {
      padding: 10px;
      background-color: rgba(65, 88, 208);
      color: #fff;
      border: none;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);

      }
    }

  }

  /*product-detail*/
  .product {
    .product-detail {
      display: flex;
      justify-content: space-between;

      .main-slide {
        margin-top: 20px;
        margin-left: -100px;

      }

      .carousel .slider-wrapper {
        width: 60%;
      }

      .carousel .thumb {
        width: 5%;
        height: 70px;

      }

      .carousel {
        text-align: center;

      }

      .content-wrapper {
        margin-right: 160px;


        h3 {
          color: rgba(65, 88, 208);
          font-size: 27px;
          margin-bottom: 20px;
        }

        .price {
          display: flex;

          .old-price {
            text-decoration: line-through;
            margin-right: 10px;
          }

          .new-price {
            font-size: 25px;
            color: black;
            font-weight: bold;
          }
        }

        ul {
          list-style: none;
          padding-top: 10px;
          font-size: 17px;

          li {
            padding-top: 10px;
            margin-top: 25px;
          }
        }
      }

    }

    .banner {
      height: 450px;
      background-color: #ec3237;
      padding: 20px;
      color: #ebdcdc;

      .hotline {
        margin-top: 10px;

        h2 {
          margin-top: 5px;
        }
      }

      .content {
        margin-top: 30px;

        ul {
          margin-top: 30px;

          li {
            list-style: none;
            margin-top: 35px;

          }

          button {
            margin-top: 10px;
          }
        }
      }

    }


  }

  .descerption {
    margin-top: 100px;

    .desception-baner {
      background-color: rgba(65, 88, 208);
      width: 15%;
      padding: 10px;
      color: #fff;
      border-radius: 0 10px 0 0;
    }

    .dash {
      background-color: rgba(65, 88, 208);
      height: 3px;
    }

    p {
      margin-top: 20px;
      font-size: 16px;

      .color-red {
        color: red;
      }
    }


  }


}